nav img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 991px) {
    nav img {
        left: 80px;
    }
}
nav .seprator {
    background-color: white;
    width: 1px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translate(calc(-50% - .5px), -50%); /* calc(-50% - .5px) because width of parent is odd number of pixels   */
}